aws-serverless-framework/serverless.yml
app: consultant
service: workout-composer
frameworkVersion: "4"

provider:
  name: aws
  runtime: nodejs20.x
  region: eu-central-1
  stage: dev

  environment:
    STAGE: ${self:provider.stage}
    WORKOUTS_BUCKET: !Ref WorkoutsBucket
    WORKOUTS_TABLE: !Ref WorkoutsTable
    # AWS_REGION is automatically provided

  iam:
    role:
      statements:
        - Effect: "Allow"
          Action:
            - s3:PutObject
            - s3:GetObject
            - s3:DeleteObject
          Resource: !Sub "${WorkoutsBucket.Arn}/*"

        - Effect: "Allow"
          Action:
            - dynamodb:PutItem
            - dynamodb:GetItem
            - dynamodb:UpdateItem
            - dynamodb:Query
            - dynamodb:Scan
          Resource: !GetAtt WorkoutsTable.Arn

        - Effect: "Allow"
          Action:
            - states:StartExecution
          Resource: !Sub "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:WorkoutConsultantStateMachine"

        - Effect: "Allow"
          Action:
            - bedrock:InvokeModel
          Resource:
            - !Sub "arn:aws:bedrock:${AWS::Region}::foundation-model/anthropic.claude*"
build:
  esbuild:
    platform: node
    bundle: true
    minify: false
    sourcemap: true
    target: node20
    keepNames: true
    exclude:
      - "@aws-sdk/*" # loaded from Lambda layer

plugins:
  - serverless-step-functions

functions:
  UploadWorkout:
    handler: src/functions/upload-workout.handler
    timeout: 5
    memorySize: 128
    events:
      - httpApi:
          path: /workouts/upload
          method: POST

  GetWorkoutStatus:
    handler: src/functions/get-workout-status.handler
    timeout: 5
    memorySize: 128
    events:
      - httpApi:
          path: /workouts/status/{workoutId}
          method: GET

  StartConsultant:
    handler: src/functions/start-consultant.handler
    timeout: 5
    memorySize: 128
    environment:
      STATE_MACHINE_ARN: !GetAtt WorkoutConsultantStateMachine.Arn
    events:
      - s3:
          bucket: !Ref WorkoutsBucket
          event: s3:ObjectCreated:*
          existing: true
          rules:
            - prefix: uploads/

  ValidateWorkout:
    handler: src/functions/validate-workout.handler
    timeout: 5
    memorySize: 128

  EnhanceWorkout:
    handler: src/functions/enhance-workout.handler
    timeout: 15
    memorySize: 512

stepFunctions:
  stateMachines:
    WorkoutConsultantStateMachine:
      name: WorkoutConsultantStateMachine
      definition:
        StartAt: ValidateWorkout
        States:
          ValidateWorkout:
            Type: Task
            Resource: !GetAtt ValidateWorkoutLambdaFunction.Arn
            TimeoutSeconds: 30
            ResultPath: "$"
            Next: EnhanceWorkout
            Catch:
              - ErrorEquals:
                  - "ValidationError"
                  - "States.TaskFailed"
                ResultPath: "$.error"
                Next: HandleFailure
            Retry:
              - ErrorEquals: ["States.TaskFailed"]
                IntervalSeconds: 5
                MaxAttempts: 1
                BackoffRate: 2.0

          EnhanceWorkout:
            Type: Task
            Resource: !GetAtt EnhanceWorkoutLambdaFunction.Arn
            TimeoutSeconds: 900
            ResultPath: "$"
            End: true
            Catch:
              - ErrorEquals:
                  - "States.TaskFailed"
                ResultPath: "$.error"
                Next: HandleFailure
            Retry:
              - ErrorEquals: ["States.TaskFailed"]
                IntervalSeconds: 5
                MaxAttempts: 3
                BackoffRate: 2.0

          HandleFailure:
            Type: Pass
            Result: "Workout validation failed"
            End: true

resources:
  Resources:
    WorkoutsBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:app}-${self:service}-workouts-${self:provider.stage}
        BucketEncryption:
          ServerSideEncryptionConfiguration:
            - ServerSideEncryptionByDefault:
                SSEAlgorithm: AES256
        PublicAccessBlockConfiguration:
          BlockPublicAcls: true
          BlockPublicPolicy: true
          IgnorePublicAcls: true
          RestrictPublicBuckets: true
        LifecycleConfiguration:
          Rules:
            - Id: DeleteOldFiles
              Status: Enabled
              ExpirationInDays: 14

    WorkoutsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:app}-${self:service}-workouts-${self:provider.stage}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: workoutId
            AttributeType: S
        KeySchema:
          - AttributeName: workoutId
            KeyType: HASH
        StreamSpecification:
          StreamViewType: NEW_AND_OLD_IMAGES
        Tags:
          - Key: Environment
            Value: ${self:provider.stage}
          - Key: Application
            Value: ${self:app}
